<h1>Screener Pro Small Caps</h1>

{% if not data %}
  <div style="padding:16px; background:#1e1e1e; color:#fff; border-radius:10px; margin-bottom:20px;">
    No han salido resultados.
    <br><br>
    Posibles motivos:
    <ul>
      <li>No hay movers claros ahora mismo</li>
      <li>Yahoo no ha devuelto intradía en algunos tickers</li>
      <li>Los filtros siguen siendo exigentes</li>
    </ul>
  </div>
{% endif %}

<table>
  <tr>
    <th>Symbol</th>
    <th>Name</th>
    <th>Price</th>
    <th>% Day</th>
    <th>Float</th>
    <th>Vol</th>
    <th>Avg Vol</th>
    <th>RVOL</th>
    <th>1m</th>
    <th>5m</th>
    <th>10m</th>
    <th>Score</th>
  </tr>

  {% for row in data %}
  <tr>
    <td>
  <a href="/?ticker={{ row.symbol }}">
    {{ row.symbol }}
  </a>
</td>
    <td>{{ row.name }}</td>
    <td>{{ row.price }}</td>
    <td style="
  color: {% if row.pct_day > 50 %}#ff4d4d{% elif row.pct_day > 20 %}#ffa500{% else %}#00ff88{% endif %};
  font-weight: bold;
">
  {{ row.pct_day }}%
</td>
    <td>{{ row.float }}</td>
    <td>{{ row.volume }}</td>
    <td>{{ row.avg_volume }}</td>
    <td>{{ row.rvol }}</td>
    <td>{{ row.change_1m }}</td>
    <td>{{ row.change_5m }}</td>
    <td>{{ row.change_10m }}</td>
    <td>{{ row.momentum_score }}</td>
  </tr>
  {% endfor %}
</table>
